{{#show-on-categories}}
  <div class="extra-banner">
    <div class="extra-banner-header">
      <div class="extra-banner-contents">
        <h2 class="banner-title">{{theme-i18n "extra-banners.categories.title"}}</h2>
        <div class="banner-title-description">{{theme-i18n "extra-banners.categories.description"}}</div>
      </div>
    </div>
  </div>
{{/show-on-categories}}