{{#show-on-categories}}
  <div class="extra-banner">
    <div class="extra-banner-header">
      <div class="extra-banner-contents">
        <h2 class="banner-title">All categories</h2>
        <div class="banner-title-description">View the list of all forum categories.</div>
      </div>
    </div>
  </div>
{{/show-on-categories}}