{{#show-on-latest}}
  <div class="extra-banner">
    <div class="extra-banner-header">
      <div class="extra-banner-contents">
        <h2 class="banner-title">All Topics</h2>
        <div class="banner-title-description">Browse latest topics from all categories.</div>
      </div>
    </div>
  </div>
{{/show-on-latest}}