{{#show-on-tags}}
  <div class="extra-banner">
    <div class="extra-banner-header">
      <div class="extra-banner-contents">
        <h2 class="banner-title">All tags</h2>
        <div class="banner-title-description">View all tags used on the forum.</div>
      </div>
    </div>
  </div>
{{/show-on-tags}}