{{#show-on-top}}
  <div class="extra-banner">
    <div class="extra-banner-header">
      <div class="extra-banner-contents">
        <h2 class="banner-title">Welcome to the KNIME Forum</h2>
        <div class="banner-title-description">Advance your skills and connect with fellow KNIME users.</div>
      </div>
    </div>
  </div>
{{/show-on-top}}